
<div class="profile-container">
  <div class="profile-header">
    <h1>Profile</h1>
  </div>
  <div class="profile-details">
    <div class="profile-field">
      <label>Profile ID:</label>
      <span>{{profile.id}}</span>
    </div>
    <div class="profile-field">
      <label>name:</label>
      <span>{{profile.name}}</span>
    </div>
  </div>
</div>
